# Stripe keys
STRIPE_PUBLISHABLE_KEY=notset 	#pk_test_xyz...
STRIPE_SECRET_KEY=notset 	#sk_test_abc...

# Required to run webhook
# See README on how to use the Stripe CLI to setup
STRIPE_WEBHOOK_SECRET=notset 	#whsec_123...

# Stripe subscription data
DOMAIN=notset			#http://localhost:4242
BASIC_PRICE_ID=notset		#price_xyz987...
PRO_PRICE_ID=notset		#price_abc123...

# Environment
STATIC_DIR=../../client
